<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">Projects</a></li>
	        		<li><a href="/publications">Publications</a></li>
              <li><a href="/talks">Contributions</a></li>
              <li><a href="/other-stuff">Miselaneous</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:pablosaa@uni-bonn.de">email</a></li>
	        		<li><a href="https://github.com/pablosaa">github.com/pablosaa</a></li>
				</ul>
			</footer>
		</body>
	</html>
